/*enter*/
.enter {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -196px;
	margin-top: -155px;
	width: 254px;
	background: linear-gradient(#fbfbfa,#f0eeed);
	padding: 40px 37px;
	border-radius: 5px;
	border: 1px solid #c5c5c5;
	box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.h_enter {
	position: absolute;
	top: -20px;
	left: 20px;
	margin: 0;
	letter-spacing: 1;
	font: 300 12px 'OpenSans-Light';
	color: #727070;
}

.enter_form input {
	display: block;
	width: 170px;
	padding: 12px 10px 12px 70px;
	background: linear-gradient(#f7f8f9,#f4f3f3);
	font: 300 12px 'OpenSans-Light';
	line-height: 1;
	color: #c7c6c6;
	border: 1px solid #d6d5d3;
	border-radius: 5px
	
}

.enter_form input[type="text"] {
	background: url(../img/sprite/enter_log.png) no-repeat 15px;
	margin-bottom: 23px;
}

.enter_form input[type="password"] {
	background: url(../img/sprite/enter_pass.png) no-repeat 15px;
	margin-bottom: 14px;
}

.enter_form input[type="checkbox"] {
	display:none;
}
.enter_form input[type="checkbox"] + label {
	cursor: pointer;
	padding-left: 0;
}

.enter_form input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 15px;
	margin: 1px 10px 0 0;
	background: url("../img/sprite/okno-chek.png");
}

input[type="checkbox"]:checked + label:before {
	background-position: 0 -16px;
}

.text_checkbox {
	display: block;
	font: 400 14px 'OpenSans-Regular';
	color: #727070;
	margin-bottom: 20px;
}

.enter_form input[type="submit"] {
	padding: 12px 10px;
	text-align: center;
	width: 150px;
	margin: 0 auto;
}

@media screen and (max-width: 680px) {
	.enter {
	margin-left: -165px;
	}