.reg {
	display: block;
	width: 400px;
	margin: 0 auto;
	color: #727070;
	font: 600 16px 'OpenSans-Regular';
}

.reg_text {
	display: inline-block;
	width: 190px;
	margin: 0 0 12px 15px;
	
}
.reg_text:first-child {
	margin: 0;
}

.reg input[type="text"] {
	width: 170px;

}

.reg input[type="text"],
.reg textarea {
	margin-top: 7px;
	padding: 10px 8px;
	color: #c7c6c6;
	font-size: 12px;
	font-weight: 300;
	border: 1px solid #d6d5d3;
	border-radius: 3px;
	background: linear-gradient(#fbfcfd,#f4f3f4);
	
}

.reg_area {
	margin: 0 0 10px 0;
}
.reg textarea {
	height: 160px;
	width: 380px;
	resize: none;
}

.wrap_kapcha {
	display: block;
	width: 400px; 
}

.wrap_kapcha .reg_text {
	display: block;
	width: 100%;
	margin-bottom: 8px;
}

.wrap_kapcha img {
	/*display: inline-block;*/
	float: left;
}

.reg_kapcha_text {
	display: inline-block;
	margin: 0;
}

.reg_kapcha_text input[type="text"] {
	margin: 25px 0 20px 14px;
}


.bnt-submit {
	display: block;
	padding: 25px 0
}

.bnt-submit input[type="submit"] {
	font-weight: 600;
	margin-left: 30px;
	padding: 8px 15px;
	border-radius: 5px;
}

input[type="submit"]+input[type="submit"] {
	margin-left: 95px;
}

@media screen and (max-width: 660px) {
	.reg {
		max-width: 280px;
		text-align: left;
	}

	.reg_text{
		width: 90%;
		margin: 0 0 15px 0;
	}

	.reg_text:first-child {
	margin-bottom: 15px;
	}
	.reg input[type="text"] {
	width: 100%;
	}

	.reg textarea {
		width: 90%;
		height: 135px;
	}
	.wrap_kapcha {
		width: 100%;
		margin: 0;
	}
	.wrap_kapcha img {
		width: 144px;
	}
	.reg_kapcha_text {
		width: 90px;
	}
	.reg_kapcha_text input[type="text"] {
		margin-top: 12px;
	}
	.bnt-submit input[type="submit"] {
		width: 115px;
		padding: 10px 5px;
	}

	input[type="submit"]+input[type="submit"] {
	margin-left: 35px;
}


}