html {
	position:relative; 
	min-height:100%;
 }
body {
	height: 100%;
	font: 600 18px/20px 'OpenSans-Semibold', Verdana, sans-serif;
	background: url("../img/bg.jpg");
	background-size: cover;
}
ul {
	margin: 0;
	padding: 0;
}
ol, ul {list-style: none;}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear:both;}
.left {float: left;}
.right {float: right;}


.wrapper {
	min-height:100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

}




/*HEADER*/



.header {
	max-width: 100%;
	background: url(../img/haeder-bg.png) repeat;
	padding: 10px 0 5px 8px;
}

.meny_show {
	display: none;
}

.logo {
	float: left
}

.logo_link {
	display: inline-block;
}

.social_ul {
	display: block;
	list-style: none;
	margin-right: 10px;
}


.social_link:first-child {
	margin-left: 0;
}

.social_link {
	display: inline-block;
}

.menu_show {
	display: none;
}

.sb {
	float: right;
	padding-top: 17px;
}

.social_link {
	margin-left: 10px;
}
.social_item {
	display: block;
	text-indent: -9999px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: white;/*   background для іе*/
	background: linear-gradient(#fcfcfc,#e7e7e7);
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.3);
}

.social_item:last-child {
	margin: 0;
}
.social_item:after {
	display: block;
	content: '';
	margin-top: -14px;
	margin-left: 5px;
	width: 24px;
	height: 24px;
	background: url(../img/sprite/sprite-sb.png) no-repeat center;
	transition: 0.2s;

}


.fb:after {
	background-position: 8px 0;
}
.fb:hover:after {
	background-position: 8px -24px;
}
.b:after {
	background-position: -11px -1px;
}
.b:hover:after {
	background-position: -11px -23px;
}
.tw:after {
	background-position: -36px 0;
}
.tw:hover:after {
	background-position: -36px -22px;
}
.gt:after {
	background-position: -67px 2px;
}
.gt:hover:after {
	background-position: -67px -23px;
}



/*NAV*/


.nav_hr {
	display: block;
	width: 100%;
	height: 8px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.80);
	margin-bottom: 35px;
}


.wrap_content{
	max-width: 970px;
	margin: 0 auto;
}

.aside {
	float: left;
	width: 250px;
}

.nav_menu {
	margin-bottom: 34px;
}

.menu_link {
	display: block;
}

.menu_link:last-child a {
	border-radius: 0 0 5px 5px;
}

.menu_link:first-child a {
	border-radius: 5px 5px 0 0;
}


.t_info_page {
	display: block;
	font: 600 20px/24px 'OpenSans-Semibold';
	padding: 15px 25px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
}

.t_info_page:last-child:active {
	-webkit-box-shadow: inset 0  2px  2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
.t_info_page.active,
.bnt-submit input[type="submit"].active,
.enter_form input[type="submit"] {
	border: 1px solid #2fa185;
	color: #eeedec;
	background: #4fc4a7;/*   background для іе*/
	text-shadow: 0 1px 1px #000;
	background: -webkit-linear-gradient(#a5e7cb,#74b797);
	background: -ms-linear-gradient(#a5e7cb,#74b797);
	background: -moz-linear-gradient(#a5e7cb,#74b797);
	background: -o-linear-gradient(#a5e7cb,#74b797);
	background: linear-gradient(#a5e7cb,#74b797);
}
.t_info_page.active:hover,
.bnt-submit input[type="submit"].active:hover,
.enter_form input[type="submit"]:hover {
	background: #4fc4a7;/*   background для іе*/
	background: -webkit-linear-gradient(#8fd9bb,#66a088);
	background: -ms-linear-gradient(#8fd9bb,#66a088);
	background: -moz-linear-gradient(#8fd9bb,#66a088);
	background: -o-linear-gradient(#8fd9bb,#66a088);
	background: linear-gradient(#8fd9bb,#66a088);
}

.t_info_page.active:active,
.bnt-submit input[type="submit"].active:active,
.enter_form input[type="submit"]:active {
	color: #eeedec;
	text-shadow: 0 1px 1px #000;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	background: #4fc4a7;/*   background для іе*/
	background: -webkit-linear-gradient(#78baa0,#4a7664);
	background: -ms-linear-gradient(#78baa0,#4a7664);
	background: -moz-linear-gradient(#78baa0,#4a7664);
	background: -o-linear-gradient(#78baa0,#4a7664);
	background: linear-gradient(#78baa0,#4a7664);
}

.t_info_page,
.bnt-submit input[type="submit"] {
	color: #727070;
	border: 1px solid #c3c3c3;
	background: #edeceb;/*   background для іе*/
	background: -webkit-linear-gradient(#f9f9fa,#e8e7e8);
	background: -ms-linear-gradient(#f9f9fa,#e8e7e8);
	background: -moz-linear-gradient(#f9f9fa,#e8e7e8);
	background: -o-linear-gradient(#f9f9fa,#e8e7e8);
	background: linear-gradient(#f9f9fa,#e8e7e8);
}

.t_info_page:hover,
.bnt-submit input[type="submit"]:hover {
	background: #cbcaca;/*   background для іе*/
	background: -webkit-linear-gradient(#e2e0e0,#bebdbd);
	background: -ms-linear-gradient(#e2e0e0,#bebdbd);
	background: -moz-linear-gradient(#e2e0e0,#bebdbd);
	background: -o-linear-gradient(#e2e0e0,#bebdbd);
	background: linear-gradient(#e2e0e0,#bebdbd);
}

.t_info_page:active,
.bnt-submit input[type="submit"]:active {
	border: 1px solid #636363;
	color: #eeedec;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	background: #888686;/*   background для іе*/
	background: -webkit-linear-gradient(#a8a7a7,#7c7979);
	background: -ms-linear-gradient(#a8a7a7,#7c7979);
	background: -moz-linear-gradient(#a8a7a7,#7c7979);
	background: -o-linear-gradient(#a8a7a7,#7c7979);
	background: linear-gradient(#a8a7a7,#7c7979);
}



/*contanct*/
.contact {
	width: 250px;
}

.ul_contact,
.ul_desc {
	margin: 0;
	padding: 0;
}

.contact_item {
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


.ln-contact {
	display: block;
	margin: 0;
	padding: 9px 28px;
	color: #d0982c;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font: 600 20px 'OpenSans-Semibold';
	border: 1px solid #caa152;
	border-radius: 5px 5px 0 0;
	background: #e1b765;/*   background для іе*/
	background: -webkit-linear-gradient(#f4ce82,#dfb866);
	background: -o-linear-gradient(#f4ce82,#dfb866);
	background: -ms-linear-gradient(#f4ce82,#dfb866);
	background: -moz-linear-gradient(#f4ce82,#dfb866);
	background: linear-gradient(#f4ce82,#dfb866);
}

.contact_me {
	display: block;
	text-align: left;
	color: #727070;
	font: 400 14px 'OpenSans-Regular';
	padding: 8px 85px;
	border: 1px solid #d6d5d3;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	background: #fbfafa;/*   background для іе*/
	background: -webkit-linear-gradient(#fff,#f5f4f4);
	background: -o-linear-gradient(#fff,#f5f4f4);
	background: -ms-linear-gradient(#fff,#f5f4f4);
	background: -moz-linear-gradient(#fff,#f5f4f4);
	background: linear-gradient(#fff,#f5f4f4);
}

.contact_item:last-child {
		border-radius: 0 0 5px 5px;
	}


.contact_me:before {
	content: '';
	position: absolute;
	left: 35px;
	top: 5px;
	width: 25px;
	height: 25px;
	border-top: 2px solid #deb566;
	border-right: 2px solid #deb566;
	transform: rotate(45deg);
	background: transparent;
}

.contact_me:after {
	content: '';
	position: absolute;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url(../img/sprite/sprite-con.png);
}

.mail_icon:after {
	background-position: 0 0;
}

.phone_icon:after {
	background-position: -17px 0;
}
.skype_icon:after {
	background-position: -32px 0;
}

.contact_me:hover {
	background: #f3e9d5;/*   background для іе*/
background: -webkit-linear-gradient(#fbfbfb,#eee5d0);
	background: -o-linear-gradient(#fbfbfb,#eee5d0);
	background: -ms-linear-gradient(#fbfbfb,#eee5d0);
	background: -moz-linear-gradient(#fbfbfb,#eee5d0);
	background: linear-gradient(#fbfbfb,#eee5d0);
}

.contact_me:active {
	-webkit-box-shadow: inset 0  1px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 1px 6px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.2);
}



/* SECTION ABOUT ME*/

.main_info {
	float: right;
	width: 650px;
	margin-bottom: 36px;
	margin-right: 10px;
}

.main_info:last-child {
	margin-bottom: 100px;
}

.t_main_info {
	margin: 0;
	font: 600 24px 'OpenSans-Semibold';
	padding: 13px 40px;
	color: #eeedec;
	border: 1px solid #636363;
	border-top: 1px solid #9c9c9c;
	border-radius: 5px 5px 0 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	background: #827f7f;/*   background для іе*/
	background: -webkit-linear-gradient(#a9a7a7,#7b7979);
	background: -moz-linear-gradient(#a9a7a7,#7b7979);
	background: -o-linear-gradient(#a9a7a7,#7b7979);
	background: linear-gradient(#a9a7a7,#7b7979);
}

.sec_my_info {
	background: #f4f3f2;
	border-radius: 0 0 5px 5px;
	padding: 30px 42px 20px;
}

.my_photo {
	display: block;
	margin-top: 10px;
	width: 135px;
	height: 135px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	border: 9px solid #f6f5f4;
	box-shadow: 0 0 1px rgba(0,0,0,1)
}

.avatar {
	width: 100%;
}

.my_skills {
	display: block;
	width: 380px;
	float: right;
}

.my_desc_text,
.skill_dec {
	display: block;
	margin: 0 0 8px 0;
	color: #727070;
	font: 600 14px 'OpenSans-Semibold';
}


.my_desc_w {
	font: 400 14px 'OpenSans-Regular';
}

.skill_desc{
	display: block;
	padding-top: 10px;
}

.skills{
	float: right;
	max-width: 235px;
	}
	.ul_skill {
		margin: 0;
		padding: 0;
	}
	.skill{
	text-transform: uppercase;
	border-radius: 2px;
	padding: 3px 13px;
	margin-bottom: 3px;
	font-size: 9px;
	color: #1e7465;
	}

	.skill{
	background: url(../img/white-left_.png) no-repeat;
	display: inline-block;
	height: 25px;
	padding: 3px 3px 0 16px;
	text-shadow: 1px 0 0 rgba(184,184,184,0.8);
	position: relative;
}


	.skill:before{
	background: url(../img/white-left_.png) top right no-repeat;
	content: '';
	position: absolute;
		top: 0;
	right: -2px;
	width: 2px;
	height: 25px;
	border: none;
	transition: none;
}

.work_skill {
	display: inline-block;
	width: 100%;
	padding: 14px 0 25px;
	border-bottom: 1px solid #dbdbda;
}


.work_skill_text {
	margin: 0;
	padding-left: 94px;
	padding-top: 10px;
	color: #727070;
	font: 600 14px 'OpenSans-Semibold';
}
.work_skill:last-child {
	border: none;
}
.work_skill:before {
	content: '';
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	background: #f7f7f7;
	background: url(../img/sprite/sprite-work1.png) no-repeat;
	border-radius: 50%;
	box-shadow: inset 2px 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.8);
}


/*.work_skill:after {
	content: '';
	display: block;
	position: relative;
	top: -35px;
	left: 13px;
	width: 25px;
	height: 35px;
	background: url(../img/sprite/sprite-work.png) no-repeat;
	background-position: 0 0;
}*/
.school:before {
	background-position: 1px -56px;
}
.graduate:before {
	background-position: 2px -105px;
}
.file:before {
	background-position: 2px -149px;
}

.work_skil_date {
	display: block;
	padding-left: 100px;
	color: #727070;
	font: 400 15px 'OpenSans-Regular';
}


/*FOOTER*/


.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 19px 0;
	border-top: 1px solid #637b77;
	text-align: center;

);
	background: white;/*   background для іе*/
	background: -webkit-linear-gradient(#fff,#f0f0f0);
	background: -moz-linear-gradient(#fff,#f0f0f0);
	background: -ms-linear-gradient(#fff,#f0f0f0);
	background: -o-linear-gradient(#fff,#f0f0f0);
	background: linear-gradient(#fff,#f0f0f0);
}

.clock{
	display: inline-block;
	float: left;
/*	margin-left: -130px;*/
}

.clock_link {
	color: #727070;
	text-transform: uppercase;
	font: 600 14px 'OpenSans-Semibold';
}

.clock:after {
	display: inline-block;
	content: '';
	float: left;
	width: 25px;
	height: 35px;
	margin-top: -12px;
	margin-right: 5px;
	background: url(../img/sprite/sprite-clok.png) no-repeat;
	background-position: 0 0;
}

.clock:hover:after {
	background-position: -25px 0;
}
.copy {
	display: inline;
	color: #727070;
	font: 400 14px 'OpenSans-Light';
}





/*АДАПТИВ*/

@media screen and (max-width: 990px) {
	.container {
		/*max-width: 688px;*/
	}

	.footer .container {
	max-width: 675px;
	}
	.logo {
	margin-left: 50px;
	}

	.logo img {
		width: 65px;
		height: 50px;
	}

	.sb {
		padding-top: 8px
	}

	.social_ul {
	margin-right: 0;
	}

	.nav_hr{
		height: 5px;
		margin-bottom: 22px;
	}

	.wrap_content {
		width: 654px;
		margin-bottom: 60px;
	}

	.main_info {
		width: 642px;
		margin-bottom: 22px;
		margin-right: 0;
	}

	.nav_menu {
		display: none;
		position: absolute;
		top: 70px;
		right: 17px;
	}

	.nav_menu.active {
		display: block;
		margin-bottom: 0;
	}
	
	.t_main_info {
		padding: 7px 40px;
	}
	
	.my_skills {
		width: 365px;
	}
	.skills {
		font-size: 8px;
		width: 225px;
	}
	
	.skill_desc {
		margin-bottom: 6px;
	}

	.sec_my_info {
		padding: 20px 42px 10px;
	}

	.work_skill {
		padding: 23px 0 20px;
	}
	
	.work_skill:first-child {
		padding: 10px 0 22px;
	}
	
	.work_skill_text {
		margin: 5px 0 5px;
		padding-top: 0;
	}

	.menu_show {
			content: '';
			text-indent: -9999px;
			display: inline-block;
			float: right;
			cursor: pointer;
			margin: 14px 40px 0 23px;
			width: 25px;
			height: 30px;
			background: url(../img/show_meny.png) no-repeat;
		}

	.nav_menu:before{
	content: '';
	margin: 0 0 0 0;
	position: absolute;
	top: -34px;
	right: 20px;
	border: 15px solid transparent;
	border-bottom: 20px solid #f4f2f2;
	}

	.meny_show:hover .nav_menu{
	display: block;
	}

	.aside {
		width: 100%;
	}

	.contact {
		position: absolute;
		bottom: 82px;
		display: block;
		width: 643px;
		margin-left: 13px;
	}
	
	.ul_contact {
		display: block;
	}

	.contact_item {
	float: left;
	}

	.contact_me{
		width: 42px;
		float: left;
	}

	.ln-contact {
		display: none;
	}

	.contact_item:last-child {
		border-radius: 0;
	}

	.footer {
		padding: 10px 0;
	}

	.clock {
	float: left;
	margin: 0;
	}

	.copy {
		text-align: center;
	}
}


/*enter-popup*/
.pop_enter {
	display: none;
	width: 330px;
	background: linear-gradient(#fbfbfa,#f0eeed);
	padding: 40px 30px;
	border-radius: 5px;
	border: 1px solid #c5c5c5;
	box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.h_enter {
	position: absolute;
	top: -20px;
	left: 20px;
	margin: 0;
	font: 300 12px 'OpenSans-Light';
	color: #727070;
}

.enter_form input {
	display: block;
	width: 245px;
	padding: 12px 10px 13px 70px;
	background: linear-gradient(#f7f8f9,#f4f3f3);
	font: 300 12px 'OpenSans-Light';
	line-height: 1;
	color: #c7c6c6;
	border: 1px solid #d6d5d3;
	border-radius: 5px
	
}

.enter_form input[type="text"] {
	background: url(../img/sprite/enter_log.png) no-repeat 15px;
	margin-bottom: 24px;
}

.enter_form input[type="password"] {
	background: url(../img/sprite/enter_pass.png) no-repeat 15px;
	margin-bottom: 18px;
}

.enter_form input[type="checkbox"] {
	float: left;
	width: 14px;
	height: 15px;
	color: #57bfa1;
	border: none;
	margin-right: 10px;
	margin-top: 5px;
}

.text_checkbox {
	display: block;
	font: 400 14px 'OpenSans-Regular';
	color: #727070;
	margin-bottom: 23px;
}

.enter_form input[type="submit"] {
	padding: 12px 10px;
	text-align: center;
	width: 150px;
	margin: 0 auto;
}








@media screen and (max-width: 680px) {
	.container {
	/*	max-width: 360px;*/
	}
	.header {
		padding-left: 10px;
	}

	.logo img {
		width: 73px;
		height: 52px;
	}
	.menu_show {
		margin: 16px 40px 0 23px;
	}
	.sb {
		float: none;
		display: block;
		text-align: center;
		width: 97%;
		position: absolute;
		bottom: 75px;
	}

	.nav_hr {
		height: 3px;
	}

/*	.logo {
		margin: 0;
	}*/

	.social_link:first-child {
		margin: 0px;
	}

	.social_link {
		margin-left: 25px;
	}
	.social_item {
		width: 65px;
		height: 65px;
	}

	.social_item:after {
	margin-top: -17px;
	margin-left: 6px;
	width: 55px;
	height: 55px;
		background: url(../img/sprite/sprite-sb1.png) no-repeat;
	}

	.fb:after {
	background-position: 0 -2px;
	}
	.fb:hover:after {
		background-position: 0 -49px;
	}
	.b:after {
		background-position: -46px -5px;
	}
	.b:hover:after {
		background-position: -46px -50px;
	}
	.tw:after {
		background-position: -97px -4px;
	}
	.tw:hover:after {
		background-position: -97px -50px;
	}
	.gt:after {
		background-position: -158px 0;
	}
	.gt:hover:after {
		background-position: -158px -48px;
	}

	.wrap_content {
		max-width: 400px;
		margin: 0 auto;
	}
	.my_desc_text {
		margin: 0 0 5px 0;
	}

	.contact {
		max-width: 400px;
		bottom: 163px;
		margin-left: 0;
	}

	.contact_me{
		width: 100%;
		display: block;
		padding: 12px 130px;
	}

	.contact_item {
		float: none;
	}

	.nav_menu {
		top: 71px;
		right: 17px;
	}

	.main_info:last-child {
		margin-bottom: 0;
	}

	.contact_me:before {
		width: 33px;
		height: 33px;
	}

	.wrap_content  {
		margin-bottom: 320px;
	}

	.sec_my_info {
		padding: 20px 20px 5px;
	}

	.skill_desc {
		margin-bottom: 0;
	}

	.main_info {
		max-width: 400px;
		text-align: center;
		margin-right: 0;
		margin-bottom: 24px;
	}

	.my_photo {
		display: inline-block;
		float: none;
		margin: 0 0 6px 0;
	}

	.my_desc {
		display: block;
	}

	.my_desc_text {
		display: block;
		text-align: left;
		font-size: 16px;
	}

	.my_skills {
		width: 100%;
	}

	.skills {
		width: 200px;
		text-align: left;
		padding: 0;
	}

	.skill {
		margin-bottom: 0;
	}

	.work_skill {
		display: block;
		position: relative;
		padding: 20px 0 30px;
	}

	.work_skill:first-child {
		padding: 0 0 20px;
	}

	.work_skill_text {
		padding: 0;
		margin: 12px 0 0;
	}

	.work_skil_date {
		padding: 0;
	}

	.work_skill:before {
		float: none;
		width: 75px;
		height: 75px;
		background-position: 13px 11px;
	}

		.school:before {
		background-position: 13px 11px;
	}

	.graduate:before {
		background-position: 13px -90px;
	}

	.file:before {
		background-position: 13px -139px;
	}

	.copy {font-size: 9px;}
}

@media screen and (max-width: 450px) {
	.sb {
		width: 94%;
	}

	.logo {
	margin-left: 10px;
	}

	.wrap_content {
		width: 300px
	}

	.main_info {
		width: 300px;
	}

	.contact {
		width: 300px;
	}

	.skills	{
		width: 250px;
	}
	
	.social_link {
		margin-left: 2px;
	}
}