html {
	position:relative; 
	min-height:100%;
 }
body {
	height: 100%;
	font: 600 18px/20px 'OpenSans-Semibold', Verdana, sans-serif;
	background: url("../img/bg.jpg");
	background-size: cover;
}

ol, ul {list-style: none;}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear:both;}
.left {float: left;}
.right {float: right;}


.wrapper {
	min-height:100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

}




/*HEADER*/



header {
	max-width: 100%;
	background: url(../img/haeder-bg.png) repeat;
	padding: 10px 0 5px 8px;
}

.meny_show {
	display: none;
}

.logo {
	display: inline-block;
}

.sb {
	float: right;
	padding-top: 20px;
}

.social_item {
	display: inline-block;
	text-indent: -9999px;
	margin-right: 15px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: white;/*   background для іе*/
	background: linear-gradient(#fcfcfc,#e7e7e7);
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.3);
}

.social_item:last-child {
	margin: 0;
}
.social_item:after {
	display: block;
	content: '';
	margin-top: -14px;
	margin-left: 5px;
	width: 24px;
	height: 24px;
	background: url(../img/sprite/sprite-sb.png) no-repeat center;
	transition: 0.2s;

}


.fb:after {
	background-position: 8px 0;
}
.fb:hover:after {
	background-position: 8px -24px;
}
.b:after {
	background-position: -11px -1px;
}
.b:hover:after {
	background-position: -11px -23px;
}
.tw:after {
	background-position: -36px 0;
}
.tw:hover:after {
	background-position: -36px -22px;
}
.gt:after {
	background-position: -67px 2px;
}
.gt:hover:after {
	background-position: -67px -23px;
}



/*NAV*/


.nav_hr {
	display: block;
	width: 100%;
	height: 10px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.80);
	margin-bottom: 35px;
}


.wrap_content{
	max-width: 960px;
	margin: 0 auto;
}

.aside {
	display: inline-block;
	float: left;
	width: 248px;
}

.t_info_page {
	display: block;
	font: 600 20px 'OpenSans-Semibold';
	padding: 18px 28px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
}
.nav_menu a:first-child {
	border-radius: 5px 5px 0 0;
}
.nav_menu a:last-child {
	border-radius: 0 0 5px 5px;
	margin-bottom: 35px;

}
.t_info_page:last-child:active {
	-webkit-box-shadow: inset 0  2px  2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
.nav_menu .active,
.bnt-submit input[type="submit"].active {
	border: 1px solid #2fa185;
	color: #517f6c;
	background: #4fc4a7;/*   background для іе*/
	background: -webkit-linear-gradient(#a5e7cb,#74b797);
	background: -ms-linear-gradient(#a5e7cb,#74b797);
	background: -moz-linear-gradient(#a5e7cb,#74b797);
	background: -o-linear-gradient(#a5e7cb,#74b797);
	background: linear-gradient(#a5e7cb,#74b797);
}
.nav_menu .active:hover,
.bnt-submit input[type="submit"].active:hover {
	background: #4fc4a7;/*   background для іе*/
	background: -webkit-linear-gradient(#8fd9bb,#66a088);
	background: -ms-linear-gradient(#8fd9bb,#66a088);
	background: -moz-linear-gradient(#8fd9bb,#66a088);
	background: -o-linear-gradient(#8fd9bb,#66a088);
	background: linear-gradient(#8fd9bb,#66a088);
}

.nav_menu .active:active,
.bnt-submit input[type="submit"].active:active {
	color: #eeedec;
	text-shadow: 0 1px 1px #000;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	background: #4fc4a7;/*   background для іе*/
	background: -webkit-linear-gradient(#78baa0,#4a7664);
	background: -ms-linear-gradient(#78baa0,#4a7664);
	background: -moz-linear-gradient(#78baa0,#4a7664);
	background: -o-linear-gradient(#78baa0,#4a7664);
	background: linear-gradient(#78baa0,#4a7664);
}

.t_info_page,
.bnt-submit input[type="submit"] {
	color: #727070;
	border: 1px solid #c3c3c3;
	background: #edeceb;/*   background для іе*/
	background: -webkit-linear-gradient(#f9f9fa,#e8e7e8);
	background: -ms-linear-gradient(#f9f9fa,#e8e7e8);
	background: -moz-linear-gradient(#f9f9fa,#e8e7e8);
	background: -o-linear-gradient(#f9f9fa,#e8e7e8);
	background: linear-gradient(#f9f9fa,#e8e7e8);
}

.t_info_page:hover,
.bnt-submit input[type="submit"]:hover {
	border-color: none;
	background: #cbcaca;/*   background для іе*/
	background: -webkit-linear-gradient(#e2e0e0,#bebdbd);
	background: -ms-linear-gradient(#e2e0e0,#bebdbd);
	background: -moz-linear-gradient(#e2e0e0,#bebdbd);
	background: -o-linear-gradient(#e2e0e0,#bebdbd);
	background: linear-gradient(#e2e0e0,#bebdbd);
}

.t_info_page:active,
.bnt-submit input[type="submit"]:active {
	border: 1px solid #636363;
	color: #eeedec;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	background: #888686;/*   background для іе*/
	background: -webkit-linear-gradient(#a8a7a7,#7c7979);
	background: -ms-linear-gradient(#a8a7a7,#7c7979);
	background: -moz-linear-gradient(#a8a7a7,#7c7979);
	background: -o-linear-gradient(#a8a7a7,#7c7979);
	background: linear-gradient(#a8a7a7,#7c7979);
}



/*contanct*/


.contact {
	margin-bottom: 100px;
}

.ln-contact {
	display: block;
	padding: 18px 28px;
	color: #d0982c;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font: 600 20px 'OpenSans-Semibold';
	border: 1px solid #caa152;
	border-radius: 5px 5px 0 0;
	background: #e1b765;/*   background для іе*/
	background: -webkit-linear-gradient(#f4ce82,#dfb866);
	background: -o-linear-gradient(#f4ce82,#dfb866);
	background: -ms-linear-gradient(#f4ce82,#dfb866);
	background: -moz-linear-gradient(#f4ce82,#dfb866);
	background: linear-gradient(#f4ce82,#dfb866);
}

.contact_me{
	display: block;
	text-align: center;
	color: #727070;
	font: 400 14px 'OpenSans-Regular';
	padding: 12px 2px;
	border: 1px solid #d6d5d3;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	background: #fbfafa;/*   background для іе*/
	background: -webkit-linear-gradient(#fff,#f5f4f4);
	background: -o-linear-gradient(#fff,#f5f4f4);
	background: -ms-linear-gradient(#fff,#f5f4f4);
	background: -moz-linear-gradient(#fff,#f5f4f4);
	background: linear-gradient(#fff,#f5f4f4);
}
.contact_me:last-child {
	border-radius: 0 0 5px 5px;
}
.contact_me:hover {
	background: #f3e9d5;/*   background для іе*/
background: -webkit-linear-gradient(#fbfbfb,#eee5d0);
	background: -o-linear-gradient(#fbfbfb,#eee5d0);
	background: -ms-linear-gradient(#fbfbfb,#eee5d0);
	background: -moz-linear-gradient(#fbfbfb,#eee5d0);
	background: linear-gradient(#fbfbfb,#eee5d0);
}

.contact_me:after {
	display: inline-block;
	float: left;
	content: '';
	margin-left: 10px;
	width: 18px;
	height: 18px;
	background: url(../img/sprite/sprite-con.png);
}

.mail_icon:after {
	background-position: 0 0;
}

.phone_icon:after {
	background-position: -17px 0;
}
.skype_icon:after {
	background-position: -32px 0;
}

.contact_me:before {
	content: '';
	display: block;
	position: absolute;
	width: 31px;
	height: 32px;
	margin-top: -7px;
	margin-left: 20px;
	border-top: 2px solid #deb566;
	border-right: 2px solid #deb566;
	transform: rotate(45deg);
	background: transparent;
}


/* SECTION ABOUT ME*/

.main_info {
	float: right;
	width: 650px;
	margin-bottom: 35px;
}

.main_info:last-child {
	margin-bottom: 100px;
}

.t_main_info {
	margin: 0;
	font: 600 24px 'OpenSans-Semibold';
	padding: 16px 40px;
	color: #eeedec;
	border: 1px solid #636363;
	border-top: 1px solid #9c9c9c;
	border-radius: 5px 5px 0 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	background: #827f7f;/*   background для іе*/
	background: -webkit-linear-gradient(#a9a7a7,#7b7979);
	background: -moz-linear-gradient(#a9a7a7,#7b7979);
	background: -o-linear-gradient(#a9a7a7,#7b7979);
	background: linear-gradient(#a9a7a7,#7b7979);
}

.sec_my_info {
	padding: 30px 40px;
	background: #f4f3f2;
}

.my_photo {
	display: block;
	width: 140px;
	height: 140px;
	float: left;
	margin-right: 30px;
	border-radius: 50%;
	overflow: hidden;
	border: 9px solid #f6f5f4;
	box-shadow: 0 0 1px rgba(0,0,0,1)
}

.avatar {
	width: 100%;
}

.my_desc {
	display: initial;
}

.my_desc_text,
.skill_dec {
	display: inline-block;
	margin: 0 0 12px 0;
	color: #727070;
	font: 600 15px 'OpenSans-Semibold';
}


.my_desc_w {
	font: 400 15px 'OpenSans-Regular';
}

.skill_desc{
	display: table;
}

.skills{
	display: table-cell;
	max-width: 200px;
	padding-left: 10px;
	}

	.skill{
	text-transform: uppercase;
	border-radius: 2px;
	padding: 3px 13px;
	margin-bottom: 3px;
	font-size: 9px;
	color: #1e7465;
	}

	.skill{
	background: url(../img/white-left_.png) no-repeat;
	margin: 0 4px 4px -2px;
	display: inline-block;
	height: 25px;
	padding: 3px 8px 0 18px;
	text-shadow: 1px 0 0 rgba(184,184,184,0.8);
	position: relative;
}


	.skill:before{
	background: url(../img/white-left_.png) top right no-repeat;
	content: '';
	position: absolute;
		top: 0;
	right: -2px;
	width: 2px;
	height: 25px;
	border: none;
	transition: none;
}

.work_skill {
	display: inline-block;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #dbdbda;
}

.work_skill_text {
	margin: 0;
	color: #727070;
	font: 600 15px 'OpenSans-Semibold';
}
.work_skill:before {
	content: '';
	display: inline-block;
	float: left;
	margin-right: 40px;
	width: 50px;
	height: 50px;
	background: #f7f7f7;
	border-radius: 50%;
	box-shadow: inset 2px 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.8);
}

.work_skill:last-child {
	border: none;
}

.work_skill:after {
	content: '';
	display: block;
	position: relative;
	top: -35px;
	left: 13px;
	width: 25px;
	height: 35px;
	background: url(../img/sprite/sprite-work.png) no-repeat;
	background-position: 0 0;
}
.school:after {
	background-position: -25px 0;
}
.graduate:after {
	background-position: -50px 0;
}
.file:after {
	margin-left: 5px;
	background-position: -75px 0;
}

.work_skill span {
	color: #727070;
	font: 400 15px 'OpenSans-Regular';
}


/*FOOTER*/


.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #637b77;
	text-align: center;

);
	background: white;/*   background для іе*/
	background: -webkit-linear-gradient(#fff,#f0f0f0);
	background: -moz-linear-gradient(#fff,#f0f0f0);
	background: -ms-linear-gradient(#fff,#f0f0f0);
	background: -o-linear-gradient(#fff,#f0f0f0);
	background: linear-gradient(#fff,#f0f0f0);
}

.clock{
	display: inline-block;
	margin-right: 60px;
}

.clock a {
	color: #727070;
	text-transform: uppercase0
	font: 600 14px 'OpenSans-Semibold';
}

.clock:after {
	display: inline-block;
	content: '';
	float: left;
	width: 25px;
	height: 35px;
	margin-top: -12px;
	margin-right: 5px;
	background: url(../img/sprite/sprite-clok.png) no-repeat;
	background-position: 0 0;
}

.clock:hover:after {
	background-position: -25px 0;
}
.copy {
	display: inline;
	color: #727070;
	font: 400 14px 'OpenSans-Light';
}





/*АДАПТИВ*/

@media screen and (max-width: 990px) {
	.container {
		max-width: 670px;
	}
	.wrap_content {
		width: 640px;
		margin: 0 auto;
	}
	.nav_menu {
		display: block;
		position: absolute;
		top: 30px;
		right: 5px;
	}
	.meny_show {
		content: '';
		display: block;
		cursor: pointer;
		float: right;
		margin: 23px -50px 0 0;
		width: 30px;
		height: 30px;
		background: linear-gradient( #f3f3f3,#fff);
	}
	.meny_show:hover .nav_menu{
	display: block;
	}

	.contact {
		display: none;
	}

	.main_info {
		width: 640px;
	}
}

@media screen and (max-width: 800px) {
	.container {
		max-width: 490px;
	}
	.wrap_content {
		max-width: 360px;
		margin: 0 auto;
	}
	.aside {
		display: none;
	}
	.sec_my_info {
		padding: 20px 10px;
	}
	.main_info {
		max-width: 360px;
		text-align: center;
	}
	.my_photo {
		display: inline-block;
		float: none;
		margin: 0 0 8px 0;
	}

	.my_desc {
		display: block;
	}
	.my_desc_text {
		display: block;
		text-align: left;
		font-size: 16px;
	}
	.skills {
		padding: 0;
	}
	.work_skill {
		display: block;
		position: relative;
	}
	.work_skill:before {
		float: none;
		width: 75px;
		height: 75px;
		margin: 0 0 15px 0;
	}
	.work_skill:after{
		position: absolute;
		top: 45px;
		left: 160px;
	}
}

