html {
	position:relative; 
	min-height:100%;
 }
body {
	height: 100%;
	font: 18px/20px 'Open Sans', Verdana, sans-serif;
	background: url("../img/bg.jpg");
	background-size: cover;
}

ol, ul {list-style: none;}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear:both;}
.left {float: left;}
.right {float: right;}


.container {
	max-width: 1200px;
	margin: 0 auto;

}




/*HEADER*/



header {
	max-width: 100%;
	background: url(../img/haeder-bg.png) repeat;
	padding: 10px 0 5px 8px;
}

.logo {
	display: inline-block;
}

.sb {
	float: right;
	padding-top: 2px;
}

.social_item {
	margin-right: 15px;
	display: inline-block;
}

.social_item a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,.3);
	background: url(../img/sprite/sprite-sb.png) no-repeat center;
}
.social_item .fb {
	background-position: 0 0;
}
.social_item .fb:hover {
	background-position: 0 -36px;
}
.social_item .b {
	background-position: -36px 0;
}.social_item .b:hover {
	background-position: -36px -36px;
}.social_item .tw {
	background-position: -72px 0;
}.social_item .tw:hover {
	background-position: -72px -36px;
}.social_item .gt {
	background-position: -108px 0;
}.social_item .gt:hover {
	background-position: -108px -36px;
}



/*NAV*/


.nav_hr {
	display: block;
	width: 100%;
	height: 10px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.80);
	margin-bottom: 35px;
}


.wrap_content{
	max-width: 960px;
	margin: 0 auto;
}

aside {
	float: left;
	width: 248px;
}

.nav_menu a {
	display: block;
	padding: 18px 28px;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
}

.nav_menu a:last-child {
	border-radius: 0 0 5px 5px;
	margin-bottom: 35px;

}
.nav_menu a:last-child:active {
	-webkit-box-shadow: inset 0  2px  2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
.t_info_me {
	color: #1e7465;
	border-radius: 5px 5px 0 0;
	border: 1px solid #2fa185;
	background: -webkit-linear-gradient(#a5e7cb,#74b797);
	background: -ms-linear-gradient(#a5e7cb,#74b797);
	background: -moz-linear-gradient(#a5e7cb,#74b797);
	background: -o-linear-gradient(#a5e7cb,#74b797);
	background: linear-gradient(#a5e7cb,#74b797);
}
.t_info_me:hover {
	background: -webkit-linear-gradient(#8fd9bb,#66a088);
	background: -ms-linear-gradient(#8fd9bb,#66a088);
	background: -moz-linear-gradient(#8fd9bb,#66a088);
	background: -o-linear-gradient(#8fd9bb,#66a088);
	background: linear-gradient(#8fd9bb,#66a088);
}
.t_info_me:active {
	color: #eeedec;
	text-shadow: 0 1px 1px #000;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(#78baa0,#4a7664);
	background: -ms-linear-gradient(#78baa0,#4a7664);
	background: -moz-linear-gradient(#78baa0,#4a7664);
	background: -o-linear-gradient(#78baa0,#4a7664);
	background: linear-gradient(#78baa0,#4a7664);
}

.t_info_page {
	color: #727070;
	border: 1px solid #c3c3c3;
	background: -webkit-linear-gradient(#f9f9fa,#e8e7e8);
	background: -ms-linear-gradient(#f9f9fa,#e8e7e8);
	background: -moz-linear-gradient(#f9f9fa,#e8e7e8);
	background: -o-linear-gradient(#f9f9fa,#e8e7e8);
	background: linear-gradient(#f9f9fa,#e8e7e8);
}
.t_info_page:hover {
	border-color: none;
	background: -webkit-linear-gradient(#e2e0e0,#bebdbd);
	background: -ms-linear-gradient(#e2e0e0,#bebdbd);
	background: -moz-linear-gradient(#e2e0e0,#bebdbd);
	background: -o-linear-gradient(#e2e0e0,#bebdbd);
	background: linear-gradient(#e2e0e0,#bebdbd);
}
.t_info_page:active {
	border: 1px solid #636363;
	color: #eeedec;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 2px 3px 0px rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(#a8a7a7,#7c7979);
	background: -ms-linear-gradient(#a8a7a7,#7c7979);
	background: -moz-linear-gradient(#a8a7a7,#7c7979);
	background: -o-linear-gradient(#a8a7a7,#7c7979);
	background: linear-gradient(#a8a7a7,#7c7979);
}



/*contact*/

.contact a {
	display: block;
}
.ln-contact {
	padding: 18px 28px;
	color: #d0982c;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	font-size: 20px;
	font-weight: 700;
	border: 1px solid #caa152;
	border-radius: 5px 5px 0 0;
	background: -webkit-linear-gradient(#f4ce82,#dfb866);
	background: -o-linear-gradient(#f4ce82,#dfb866);
	background: -ms-linear-gradient(#f4ce82,#dfb866);
	background: -moz-linear-gradient(#f4ce82,#dfb866);
	background: linear-gradient(#f4ce82,#dfb866);
}

.contact_me {
	color: #727070;
	font-size: 14px;
	line-height: 0px;
	padding: 8px 10px 13px;
	text-decoration: underline;
	border: 1px solid #d6d5d3;
	-webkit-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0 2px 3px 0px rgba(255,255,255,0.4);
	background: -webkit-linear-gradient(#fff,#f5f4f4);
	background: -o-linear-gradient(#fff,#f5f4f4);
	background: -ms-linear-gradient(#fff,#f5f4f4);
	background: -moz-linear-gradient(#fff,#f5f4f4);
	background: linear-gradient(#fff,#f5f4f4);
}
.contact_me:last-child {
	border-radius: 0 0 5px 5px;
}
.contact_me:hover {
	text-decoration: none;
background: -webkit-linear-gradient(#fbfbfb,#eee5d0);
	background: -o-linear-gradient(#fbfbfb,#eee5d0);
	background: -ms-linear-gradient(#fbfbfb,#eee5d0);
	background: -moz-linear-gradient(#fbfbfb,#eee5d0);
	background: linear-gradient(#fbfbfb,#eee5d0);
}

.contact a i {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 40px;
	background: url(../img/sprite/sprite-con.png);
}



/*.contact a span {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-top: 2px solid #deb566;
	border-right: 2px solid #deb566;
	transform: rotate(45deg);
	background: transparent;
}*/


.contact .mail_icon {
	background-position: 0 0;
}

.contact .phone_icon {
	background-position: -17px 0;
}
.contact .skype_icon {
	background-position: -34px 0;
}


/* SECTION */

.main_info {
	float: right;
	width: 650px;
	margin-bottom: 35px;
}

.t_main_info {
	margin: 0;
	font-size: 24px;
	padding: 16px 40px;
	color: #eeedec;
	border: 1px solid #636363;
	border-top: 1px solid #9c9c9c;
	border-radius: 5px 5px 0 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	background: linear-gradient(#a9a7a7,#7b7979);
}

.sec_my_info {
	padding: 30px 40px;
	background: #f4f3f2;
}

.my_photo {
	display: inline-block;
	float: left;
	margin-right: 35px;
	width: 150px;
	height: 150px;
	border: 1px solid #d3d2d1;
	border-radius: 50%;
}

.my_photo img {
	border: 9px solid #f6f5f4;
	border-radius: 50%;
}

.my_desc p {
	margin: 0 0 12px 0;
	color: #727070;
	font-size: 14px;
	font-weight: 600;
}

.my_desc span, {
	font-weight: 400;
}

.about_me_item{
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #727070;
	display: table;
	}

.skills{
	display: table-cell;
	max-width: 235px;
	padding-left: 10px;
	}

	.skill{
	text-transform: uppercase;
	border-radius: 2px;
	padding: 3px 13px;
	margin-bottom: 3px;
	font-size: 12px;
	color: #1e7465;
	}

	.skill{
	background: url(../img/silver-left.png) no-repeat;
	margin: 0 4px 4px -2px;
	display: inline-block;
	height: 25px;
	padding: 0 10px 0 21px;
	text-shadow: 1px 1px 0 rgba(184,184,184,1));
	position: relative;
}


	.skill:before{
	background: url(../img/silver-left.png) top right no-repeat;
	content: '';
	position: absolute;
	top: 0;
	right: -2px;
	width: 2px;
	height: 25px;
	border: none;
	transition: none;
}

.work_skill {
	padding: 30px 0;
	border-bottom: 1px solid #dbdbda;
}
.work_ic {
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 38px;
	background: #f7f7f7;
	border-radius: 50%;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.8);
}
.work_ic .brief {
	display: block;
	margin-top: 3px;
	margin-left: 13px;
	width: 25px;
	height: 35px;
	background: url(../img/sprite/sprite-work.png) no-repeat;
	background-position: 0 0;
}
.work_ic .school {
	background-position: -25px 0;
}
.work_ic .graduate {
	background-position: -50px 0;
}
.work_ic .file {
	margin-left: 17px;
	background-position: -75px 0;
}

.work_skill p {
	margin: 0;
}
.work_skill span {
	color: #727070;
	font-size: 14px;
	font-weight: 400;
}

.footer {
	max-width: 100%;
	padding: 20px 10px;
	border-top: 1px solid #637b77;
	text-align: center;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(1, #f0f0f0)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #f0f0f0 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #f0f0f0 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #f0f0f0 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #f0f0f0 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #f0f0f0 100%);
}

.clock{
	display: inline-block;
	margin-right: 60px;
}

.clock a {
	color: #727070;
	font-size: 14px;
	font-weight: 600;
}

.clock .ic_clock {
	display: inline-block;
	float: left;
	width: 25px;
	height: 35px;
	margin-top: -12px;
	background: url(../img/sprite/sprite-clok.png) no-repeat;
	background-position: 0 0;
}
.clock a:hover .ic_clock {
	background-position: -25px 0;
}
.copy {
	display: inline;
	color: #727070;
	font-size: 12px;
	font-weight: 400;
}