.my_work_wrap {
	width: 570px;
}
.my_work_item {
	display: inline-block;
	vertical-align: top;
	width: 168px;
	background: #fff;
	margin-right: 23px;
	margin-bottom: 23px;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	text-align: center;
	color: #727070;
	box-shadow: 0 1px 0 rgba(0,0,0,0.3)
}


.my_work_item:nth-child(3n){
	margin-right: 0;
}

.img_link img {
	width: 100%;
}

.site_work {
	display: block;
	padding: 10px 5px;
	background: #f1f1f1;
	border-top: 1px solid #bfbfbf;
	font: 600 14px 'OpenSans-Semibold';
	color: #727070;
}

.site_describe {
	font: 400 12px/16px 'OpenSans-Light';
	margin: 0;
	padding: 7px 5px;
}


@media screen and (max-width: 990px) {
	.container {
		max-width: 690px;
	}


	.sec_my_info {
		width: 560px;
	}

	.my_work_wrap {
		width: 440px;
		margin: 0 auto;
	}

	.my_work_item {
		margin-right: 73px;
	}
	
	.my_work_item:nth-child(3n){
	margin-right: 73px;
	}

	.my_work_item:nth-child(2n+2){
		margin-right: 0;
	}

}

@media screen and (max-width: 800px) {
	.container {
		max-width: 490px;
	}
	.sec_my_info {
		width: 340px;
	}

	.my_work_wrap {
		width: 340px;
		margin: 0 auto;
		text-align: center;
	}

	.my_work_item {
		width: 280px;
		margin: 0 0 20px;
	}
	.my_work_item:nth-child(3n){
	margin-right: 0;
	}
}

