
/*qtip*/

.has-error {
	border-color: #e0ad99!important;
}

.qtip-mystyle {
	background: #e69073; /*для іе8*/
	background: linear-gradient(#f3a58b,#d8825e);
	border: 1px solid #f19a7c;
	border-bottom: 1px solid #cb6945;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	border-radius: 5px;
}

.qtip-mystyle .qtip-content {
	font-size: 12px;
	font-weight: 600;
	color: #9a4e32;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.qtip-content {
	padding: 7px 9px;
}